<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura Dern API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div class="static">
            <a href="../"><h1 id="title">Laura Dern API</h1></a>
            <div class="header">
                <li><a href="/documentation">Documentation</a> <hr></li>
                <li><a href="/about">About</a><hr></li>
                <li><a href="/submit">Submit</a><hr></li>
            </div>

            <div class="contact">
                <a href="https://github.com/zeyaoli/Laura-Dern-API"><p>View it on Github</p></a>
                <a href="https://twitter.com/lizeyao"><p>Follow me on Twitter</p></a>
            </div>
        </div> 
        <div id="about-video">
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nlQotkWWDQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>   
    </div>
</body>
</html>