* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: #444444;
}

#root {
	margin: 20px;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.header {
	display: flex;
	flex-direction: row;
}

.header li {
	padding: 20px;
	list-style: none;
}

#title {
	font-size: 4rem;
	margin: 10px;
}
#subtitle {
	font-size: 2rem;
	margin: 0;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 300px;
	margin: 30px;
	/* background-color: #666666; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}

.card h2 {
	padding: 5px;
	text-align: center;
}
